
html {
  --brand-light: #F4CE14;
  --brand-dark: #494E57;
}

body {
  max-width: 1024px;
  margin: 1.5rem auto;
  padding: 0 2rem;
  text-align: justify;
}

img { /* Responsive image */
  width: 100%;
  height: auto;
}

header {
  flex-direction: row;
}

nav ul {
  display: inline;
}

nav li {
  display: inline;
  margin: 0 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

nav li a {
  color: inherit !important;
  text-decoration: none !important;
}

footer {
  align-items : start !important;
}

footer ul {
  list-style-type: none;
  text-align: center;
  margin-top: 0;
}

footer li {
  margin: 5px 0;
}

footer h3 {
  margin-top: 10px;
}

.button {
  padding: 0.8rem 2.5rem;
  text-transform: uppercase;
  background-color: black;
  border: black;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.banner .button {
  background-color: var(--brand-light);
  color: black;
  margin-top: 1rem;
}

.banner {
  display: flex;
  margin: 1.5rem 0;
  background-color: var(--brand-dark);
  color: white;
  border-radius: 4px;
}

.banner div {
  padding: 0 2rem;
}

.banner h1 {
  margin-bottom: 0;
}

.banner h2 {
  margin-top: 0.5rem;
  font-weight: normal;
}

.banner > * {
  flex: 1 1 0;
}

.banner img {
  border-radius: 4px;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.specials > div {
  flex: 1 1 0;
}

.special {
  margin: 0 1rem;
  background-color: #f0f0f0;
  border: 1px solid #fafafa;
  border-radius: 4px;
}

.specialContent {
  padding: 0 1.5rem;
  margin-bottom: 1.5rem;
}

.price {
  font-weight: bold;
  color: red;
}

.specialCover {
  height: 200px;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  border-radius: 4px 4px 0 0;
}

.testimonials {
  padding: 15vh 2rem;
  border-radius: 4px;
  background-color: var(--brand-dark);
}

.testimonials h1 {
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 3rem;
}

.testimonial {
  padding: 1rem;
  background-color: #ccccccbb;
  border-radius: 4px;
  width: 170px;
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: black;
}

.user {
  display: flex;
  align-items: center;
}

.user h3 {
  margin-left: 1rem;
}

.testimonial h6, .testimonial p {
  margin: 5px 0;
}

.stars {
  font-size: 1.2rem;
  color: rgb(255, 187, 0);
}

.secondCover {
  align-items: start !important;
  margin: 2rem 0;
}

.secondCover > div {
  flex: 1 1 0;
  text-align: justify;
}

.secondCover h1, .secondCover h2 {
  margin-bottom: 0;
}

.secondCover h2 {
  margin-top: 0.5rem;
  font-weight: 600;
}

.imgA {
  position: absolute;
  width: 300px;
  z-index: 2;
  top: 50px;
  left: 200px;
}

.imgB {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 20px;
  left: 80px;
}

.beforeFooter {
  position: relative;
}

.beforeFooter img {
  border-radius: 4px;
}

.center {
  text-align: center;
}

.bookingFormAll {
  margin: 3rem 0;
}

.bookingForm {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.bookingForm > div {
  flex: 1 1 0;
  padding: 0 1rem;
}

label {
  display: block;
}

input, select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}

select {
  width: calc(100% + 18px);
}

.mt-1 {
  margin-top: 1rem;
}

.bookingConfirmation {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  padding: 1rem;
  text-align: center;
  margin: 2rem 0;
}