
html {
  --brand-light: #F4CE14;
  --brand-dark: #494E57;
}

body {
  max-width: 1024px;
  margin: 1.5rem auto;
  padding: 0 2rem;
}

img { /* Responsive image */
  width: 100%;
  height: auto;
}

header {
  flex-direction: row;
}

nav ul {
  display: inline;
}

nav li {
  display: inline;
  margin: 0 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

nav li a {
  color: inherit !important;
  text-decoration: none !important;
}

.button {
  padding: 0.8rem 2.5rem;
  text-transform: uppercase;
  background-color: black;
  border: black;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.banner {
  display: flex;
  margin: 1.5rem 0;
  background-color: var(--brand-dark);
  color: white;
  border-radius: 4px;
}

.banner div {
  padding: 0 2rem;
}

.banner h1 {
  margin-bottom: 0;
}

.banner h2 {
  margin-top: 0.5rem;
  font-weight: normal;
}

.banner > * {
  flex: 1 1 0;
}

.banner img {
  border-radius: 4px;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.specials > div {
  flex: 1 1 0;
}

.special {
  margin: 0 1rem;
  background-color: #f0f0f0;
  border: 1px solid #fafafa;
  border-radius: 4px;
}

.price {
  font-weight: bold;
  color: red;
}